<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" routerLink="/">Games</a>
  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/platform/game" class="nav-link" >Platforms</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/new-game/game" class="nav-link">Add new game</a>
      </li>
    </ul>
  </div>
</nav>
