  <div class="col-5 mt-2">
    <h4>Add new game</h4>

    <form (ngSubmit)="createGame()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          #nameInput
        />
      </div>
      <div class="form-group">
        <label for="imageUrl">Image</label>
        <input
          type="text"
          name="imageUrl"
          id="imageUrl"
          class="form-control"
          #imageUrlInput
        />
      </div>
      <div class="form-group">
        <label for="platforms">Choose a platform: </label>
        <select name="platforms" id="platforms" #platformInput>
          <option value="arcade">Arcade</option>
          <option value="action">Action</option>
          <option value="simulation">Simulation</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          class="form-control"
          #descriptionInput
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
      >Create
      </button>
    </form>
  </div>
