<div class="row mt-2">
  <div class="col-4">
    <ul class="list-group" >
      <li class="list-group-item"#nameLi *ngFor="let platform of platforms" (click)="onPlatform()" >{{ platform }}</li>
    </ul>
  </div>
  <div class="col-6">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let game of platform">{{ game.name }}</li>
    </ul>
  </div>
</div>

