<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ game.name }}</h5>
    <img [src]="game.imageUrl" class="card-img-top" alt="{{ game.name }}">
    <p class="card-text">{{ game.platform }}</p>
    <p class="card-text">{{ game.description }}</p>
  </div>
</div>
