<div class="container-fluid">
  <h4>Games</h4>
  <div class="d-flex">
    <div class="col">
      <div
        style="border: 1px solid; margin: 10px; padding: 15px"
        *ngFor="let game of games; let i = index"
        [routerLink]="[i]"
        routerLinkActive="active">
        <h3>{{ game.name }}</h3>
        <p>{{ game.platform}}</p>
      </div>
    </div>

    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
